{{define "nav_icons"}}
{{/* <div id="service_menu" class="hidden md:w-auto md:flex justify-between md:p-2 md:mt-6"> */}}
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/development" | relURL}}"><img src="{{.Params.IconDevelopment | relURL}}"
                    alt=""></a></span>

    </div>
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/design" | relURL}}"><img src="{{.Params.IconDesign | relURL}}" alt=""></a></span>

    </div>
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/dataops" | relURL}}"><img src="{{.Params.IconDataOps | relURL}}" alt=""></a></span>

    </div>
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/embedded-systems" | relURL}}"><img src="{{.Params.IconEmbedded | relURL}}"
                    alt=""></a></span>

    </div>
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/iot" | relURL}}"><img src="{{.Params.IconIot | relURL}}" alt=""></a></span>

    </div>
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/web3" | relURL}}"><img src="{{.Params.IconWeb3 | relURL}}" alt=""></a></span>

    </div>
    <div class="flex flex-col items-center justify-center md:px-2">
        <span><a href="{{"/services/devops" | relURL}}"><img src="{{.Params.IconDevOps | relURL}}" alt=""></a></span>

    </div>
    {{/*
</div> */}}


{{end}}

{{define "main"}}

{{/* Div box starts here */}}
<div class="flex flex-col items-start justify-between h-full md:hidden w-full p-2">
    <!-- text and button here for small devices-->
    <div class="w-full h-[92%] flex flex-col items-center text-justify-start p-2 text-justify ">

        <!-- Display image here -->
        <div class="flex justify-center mb-2">
            <div class="w-4/6 ">
                <img class="md:w-full" src="{{.Params.ImageBig}}" alt="Service Image">
            </div>
        </div>
        
        <!-- title here -->
        <div class="text-center text-2xl font-semibold mb-1">
            <p>{{.Title}}</p>
        </div>
        
        <!-- Description here -->
        <div class="text-base h-3/6  overflow-y-scroll p-2">
            <p>{{.Params.Description}}</p>
            <br>
            <p>{{.Params.lastLine}}</p>
        </div>
    </div>
    <!-- title and description ends -->    

    {{/* Small Devices navigation */}}
    <div id="service_navigation" class="flex justify-center items-start w-full md:hidden ">
        <div class="flex ">
            <a class="pr-4" href="{{.Params.PrevLink | relURL}}"><img src="/img/left-arrow.svg" width="45px" alt=""></a>
            <a href="{{.Params.NextLink | relURL}}"><img src="/img/right-arrow.svg" width="45px" alt=""></a>
        </div>
    </div>
    {{/* Small Devices navigation ends*/}}
</div>
{{/* Div box ends here */}}




{{/* For medium and large devices all the main content here*/}}
<div class="md:flex md:flex-col md:p-1 h-full w-full hidden  text-justify">

    <!-- Top Heading of every service goes here -->
    <div class="flex justify-center h-1/6 items-center my-2">
        <!-- title here -->
        <div class="  text-center text-sm md:text-3xl font-semibold ">
            <p>{{.Title}}</p>
        </div>
    </div>

    <!-- Inside Columns for content and image and navigation buttons goes here -->
    <div class="flex flex-row justify-center w-full h-full mb-2">

        {{/* left navigation button */}}
        <div class="md:flex justify-center items-center hidden  relative -left-8  z-30 ">
            <a class=" " href="{{.Params.PrevLink | relURL}}"><img src="/img/left-arrow.svg" width="54px" alt=""></a>
        </div>

        <!-- Description here -->
        <div class="flex flex-col-reverse xl:flex-row justify-center items-center w-[90%] ">
        <div class="md:text-sm lg:text-base md:w-4/5 xl:w-1/2 h-full  flex flex-col justify-center items-center p-2 ">
            <p>{{.Params.Description}}</p>
            <br>
            <p>{{.Params.lastLine}}</p>
        </div>

        <!-- Display image here -->
        <div class="flex justify-center items-center w-1/2 ">
            <div class="w-full text-center  md:flex md:justify-center md:w-full md:h-full ">
                <img class="w-[90%]" src="{{.Params.ImageBig}}" alt="">
            </div>
        </div>
    </div>

        {{/* right navigation button */}}
        <div class="md:flex justify-center items-center hidden  relative -right-8">
            <a class="" href="{{.Params.NextLink | relURL}}"><img src="/img/right-arrow.svg" width="54px" alt=""></a>
        </div>

    </div>
</div>
{{/* Ends here*/}}

{{end}}